#page {
    height: 94vh;
    background-image: url(src/assets/images.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#text {
    padding-top: 15%;
    font-size: 5.0rem;
    font-weight: bold;
    align-items: center;
}


/* * {
    background-color: brown;
    height: 100%;
    background-image: url(src/assets/images.png);
} */