<nav class="navbar  navbar-light bg-light">
    <div class="container navbar-collapse p-2">
        <a class="navbar-brand fw-bold fs-4">{{brandname}}</a>
        <a class="nav-item nav-link fs-5 text-dark" routerLink="/home" routerLinkActive='active'>Home</a>
        <a class="nav-item nav-link  fs-5 text-dark" routerLink="/profiles" routerLinkActive='active'>Users</a>
        <a class="nav-item nav-link fs-5 text-dark" routerLink="/repos" routerLinkActive='active'>Repos</a>

        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    </div>
</div>